* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: 400px;
    width: 600px;
    padding-top: 30px;
    border-radius: 20%;
}

body {
    background-color: #364958;
}

h1 {
    color: rgb(233, 233, 60);
    font-size: 40px;
    padding-top: 45px;
    padding-bottom: 70px;
    text-shadow: 3px 3px 7px black;
}

main {
    height: 700px;
    width: 98%;
    background-color: teal;
    text-align: center;
    margin: 20px auto;
    border-radius: 15%;
    box-shadow: 3px 3px 5px rgb(233, 233, 60);
}

a {
    text-shadow: 1px 1px 8px white;
}

div a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(233, 233, 60);
    text-align: center;
    display: inline-block;
    padding: 0 50px;
}

footer {
    text-align: center;
}

span a {
    color: rgb(233, 233, 60);
    text-decoration: none;
}

footer span {
    color: yellowgreen;
}

img:hover {
    transform: scale(1.1);
}
